anyio==3.5.0
asgiref==3.5.1
autopep8==1.6.0
boto3==1.24.54
botocore==1.27.54
CacheControl==0.12.11
cachetools==5.0.0
certifi==2021.10.8
cffi==1.15.0
charset-normalizer==2.0.12
click==8.1.3
colorama==0.4.4
cryptography==37.0.1
Deprecated==1.2.13
fastapi==0.75.2
firebase-admin==5.2.0
gcloud==0.18.3
google-api-core==2.7.3
google-api-python-client==2.46.0
google-auth==2.6.6
google-auth-httplib2==0.1.0
google-cloud-core==2.3.0
google-cloud-firestore==2.4.0
google-cloud-storage==2.3.0
google-crc32c==1.3.0
google-resumable-media==2.3.2
googleapis-common-protos==1.56.0
grpcio==1.44.0
grpcio-status==1.44.0
h11==0.13.0
httplib2==0.20.4
idna==3.3
jmespath==1.0.1
jwcrypto==1.2
msgpack==1.0.3
numpy==1.22.3
oauth2client==4.1.3
proto-plus==1.20.3
protobuf==3.20.1
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycodestyle==2.8.0
pycparser==2.21
pycryptodome==3.14.1
pydantic==1.9.0
pydub==0.25.1
pyparsing==3.0.8
Pyrebase4==4.5.0
python-dateutil==2.8.2
python-jwt==3.3.2
requests==2.27.1
requests-toolbelt==0.9.1
rsa==4.8
s3transfer==0.6.0
scipy==1.8.0
six==1.16.0
smartyparse==0.1.3
sniffio==1.2.0
starlette==0.17.1
toml==0.10.2
typing_extensions==4.2.0
uritemplate==4.1.1
urllib3==1.26.9
uvicorn==0.17.6
wrapt==1.14.1